/* debug */
.debug-box {
    background-color: green;
    width: 100%;
    height: 200px;
}

[class^=col-] {
    border: 1px solid black;
    height: 200px;
}

/* COMMON */
.custom-smaller-container-bottom {
    width: 70%;
}

/* HEADER */
.custom-header {
    height: var(--header-height);
    background-color: var(--header-blue);
}

/* HERO */
.custom-hero {
    padding-top: var(--header-height);
    /* debug */
    background-color: blue;
}

/* PORTFOLIO */
.custom-portfolio {
    /* debug */
    background-color: red;
}

/* ABOUT */
.custom-about {
    /* debug */
    background-color: blue;
}
/* debug */
.custom-about .col-12 {
    height: 100%;
}

/* CONTACT */
.custom-contact {
    /* debug */
    background-color: red;
}

/* SOCIALS */
.custom-socials {
    background-color: var(--socials-blue);
}

/* FOOTER */
.custom-footer {
    background-color: var(--header-blue);
}
