/* RESET */
img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/* COMMON */
/* LAYOUT */
.ms-smaller-container {
    max-width: 650px;
}

.ms-smaller-container-bottom {
    width: 70%;
    max-width: 1100px;
}

/* STAR */
.ms-star span {
    display: inline-block;
    vertical-align: middle;
}

.ms-line {
    width: 15%;
    border-radius: 5px;
}

.ms-line-white {
    border-bottom: 0.2rem solid white;
}

.ms-line-black {
    border-bottom: 0.2rem solid var(--header-blue);
}

/* hover */
.ms-about-download .btn:hover {
    color: var(--hero-green);
}

form .btn:hover {
    background-color: var(--hero-green-darker);
}

/* HEADER */
.ms-header {
    height: var(--header-height);
    background-color: var(--header-blue);
}

.navbar{
    background-color: var(--header-blue);
}

/* MAIN */
/* HERO */
.ms-hero {
    padding-top: var(--header-height);
}

.ms-hero-img img {
    display: block;
    width: 50%;
}

/* Contact */
.form-floating :first-child {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
}

.form-floating>label {
    padding-left: 0;
}

textarea {
    resize: none;
}

#comments {
    height: 200px;
}

/* SOCIALS */
.ms-socials {
    background-color: var(--socials-blue);
}

.ratio {
    max-width: 62px;
}

/* FOOTER */
.ms-footer {
    background-color: var(--header-blue);
}

.ms-footer span{
    font-size: 0.7rem;
}